.title {
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    text-align: center;

    &--spacing {
        letter-spacing: 1.4px;
    }
}
