<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shopno
        link(rel="stylesheet" href="stylesheets/index.min.css")

    body(class="page")
        div(class="page__container")
            include ../../_blocks/header/header.pug
            +header()
            
            main(class="main")

        script(src="scripts/script.js")
