mixin services()
    section(class="services")
        div(class="box")
            h3(class="title services__title") Our services
            p(class="text services__text") Lorem ipsum dolor sit amet event landing template

    // END .services
