<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopno</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700,800|Raleway&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/index.min.css" />
</head>

<body class="page">
    <div class="page__container">
        <header class="header">
            <div class="box">
                <nav class="nav">
                    <div class="nav__actions">
                        <div class="logo"><a class="logo__link" href="#5">Sh<span class="logo__link--mark">o</span>pno</a></div><!-- END .logo-->
                        <div class="button-menu"><button class="button-menu__button" type="button"><span class="button-menu__line"></span></button></div><!-- END .button-menu-->
                    </div>
                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a class="nav__link" href="#5">About us</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">Featured works</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">Our services</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">Small team</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">What they says</a></li>
                        </ul>
                    </div>
                </nav><!-- END .nav-->
            </div>
        </header><!-- END .header-->
        <main class="main">
            <div class="hero">
                <div class="box hero__box">
                    <h1 class="hero__title">Say hello to <span class="hero__title--mark">shopno!</span><br><span class="hero__title--mark">Agency</span> corporate shopno theme</h1><button class="button hero__button">
                        <span class="button__text">Contact us</span>
                    </button>
                    <!-- END .button-->
                </div>
            </div><!-- END .hero-->
            <section class="about-us">
                <div class="box">
                    <h2 class="title about-us__title">About us</h2>
                    <p class="text about-us__text">Lorem ipsum dolor sit amet event landing template</p>
                    <div class="advantages">
                        <div class="advantages__slider">
                            <div class="advantage-images advantages__images">
                                <ul class="advantage-images__list">
                                    <li class="image-box advantage-images__item not-active" data-slide="1"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                                    <li class="image-box advantage-images__item not-active" data-slide="2"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                                    <li class="image-box advantage-images__item not-active" data-slide="3"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                                    <li class="image-box advantage-images__item not-active" data-slide="4"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                                </ul>
                            </div><!-- END .advantage-images-->
                            <div class="controls">
                                <ul class="controls__list">
                                    <li class="controls__item"><button class="controls__button is-active" type="button" data-button="1"></button></li>
                                    <li class="controls__item"><button class="controls__button" type="button" data-button="2"></button></li>
                                    <li class="controls__item"><button class="controls__button" type="button" data-button="3"></button></li>
                                    <li class="controls__item"><button class="controls__button" type="button" data-button="4"></button></li>
                                </ul>
                            </div><!-- END .controls-->
                        </div>
                        <div class="advantages__text-box">
                            <p class="advantages__title">We actually do amazing works</p>
                            <p class="advantages__text">A visual approach is an approach to a runway at an airport conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.</p>
                            <p class="advantages__text">Preceding aircraft in approach correct sight. conducted under instrument flight rules.</p>
                            <p class="advantages__title advantages__title--small">Why we are the great?</p>
                            <p class="advantages__text">A visual approach is an approach to a runway at an airport conducted under instrument flight rules. <br> The preceding aircraft in approach correct sight.</p>
                        </div>
                    </div><!-- END advantages-->
                </div>
            </section><!-- END .about-us-->
            <section class="portfolio">
                <div class="box portfolio__box">
                    <h3 class="title title--spacing portfolio__title">Featured works</h3>
                    <p class="text text--spacing portfolio__text">Lorem ipsum dolor sit amet event landing template</p>
                    <ul class="portfolio__list">
                        <li class="image-box portfolio__item"><img class="image-box__image" src="images/portfolio/work-1.jpg" srcset="images/portfolio/work-1.jpg 2x" alt="work-1" /></li>
                        <li class="image-box portfolio__item"><img class="image-box__image" src="images/portfolio/work-2.jpg" srcset="images/portfolio/work-2.jpg 2x" alt="work-2" /></li>
                        <li class="image-box portfolio__item"><img class="image-box__image" src="images/portfolio/work-3.jpg" srcset="images/portfolio/work-3.jpg 2x" alt="work-3" /></li>
                        <li class="image-box portfolio__item"><img class="image-box__image" src="images/portfolio/work-4.jpg" srcset="images/portfolio/work-4.jpg 2x" alt="work-4" /></li>
                        <li class="image-box portfolio__item"><img class="image-box__image" src="images/portfolio/work-5.jpg" srcset="images/portfolio/work-5.jpg 2x" alt="work-5" /></li>
                        <li class="image-box portfolio__item"><img class="image-box__image" src="images/portfolio/work-6.jpg" srcset="images/portfolio/work-6.jpg 2x" alt="work-6" /></li>
                    </ul>
                </div>
            </section><!-- END .portfolio-->
            <section class="services">
                <div class="box">
                    <h3 class="title title--spacing services__title">Our services</h3>
                    <p class="text text--spacing services__text">Lorem ipsum dolor sit amet event landing template</p>
                    <ul class="services__list">
                        <li class="services__item services__item--1">
                            <p class="services__item-title">Designing is the cool love for.</p>
                            <p class="services__item-text">Our most popular service is our Virtual Receptionist. We know that sometimes</p><button class="services__button" type="button" data-button="1"><span class="services__button-text">Know more</span><svg class="icon services__button-icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                                </svg></button>
                            <div class="service-details" data-details="1">
                                <div class="service-details__box">
                                    <p class="service-details__title">Designing is the cool love for.</p>
                                    <p class="service-details__text">Our most popular service is our Virtual Receptionist. We know that sometimes</p><button class="service-details__button" type="button"><svg class="icon service-details__icon">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#cross"></use>
                                        </svg></button>
                                </div>
                            </div><!-- END .services-details-->
                        </li>
                        <li class="services__item services__item--small services__item--2">
                            <p class="services__item-title">Cool psd design</p>
                            <p class="services__item-text">Our most popular service is our we know that sometimes it’s something and you middle most</p><button class="services__button" type="button" data-button="2"><span class="services__button-text">Know more</span><svg class="icon services__button-icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                                </svg></button>
                            <div class="service-details" data-details="2">
                                <div class="service-details__box">
                                    <p class="service-details__title">Cool psd design</p>
                                    <p class="service-details__text">Our most popular service is our we know that sometimes it’s something and you middle most</p><button class="service-details__button" type="button"><svg class="icon service-details__icon">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#cross"></use>
                                        </svg></button>
                                </div>
                            </div><!-- END .services-details-->
                        </li>
                        <li class="services__item services__item--3">
                            <p class="services__item-title">Designing is the cool</p>
                            <p class="services__item-text">Our most popular service is our Virtual Receptionist. We know that</p><button class="services__button" type="button" data-button="3"><span class="services__button-text">Know more</span><svg class="icon services__button-icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                                </svg></button>
                            <div class="service-details" data-details="3">
                                <div class="service-details__box">
                                    <p class="service-details__title">Designing is the cool</p>
                                    <p class="service-details__text">Our most popular service is our Virtual Receptionist. We know that</p><button class="service-details__button" type="button"><svg class="icon service-details__icon">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#cross"></use>
                                        </svg></button>
                                </div>
                            </div><!-- END .services-details-->
                        </li>
                        <li class="services__item services__item--small services__item--4">
                            <p class="services__item-title">Psd to html kori</p>
                            <p class="services__item-text">We know that sometimes it’s something and you middle most</p><button class="services__button" type="button" data-button="4"><span class="services__button-text">Know more</span><svg class="icon services__button-icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                                </svg></button>
                            <div class="service-details" data-details="4">
                                <div class="service-details__box">
                                    <p class="service-details__title">Psd to html kori</p>
                                    <p class="service-details__text">We know that sometimes it’s something and you middle most</p><button class="service-details__button" type="button"><svg class="icon service-details__icon">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#cross"></use>
                                        </svg></button>
                                </div>
                            </div><!-- END .services-details-->
                        </li>
                        <li class="services__item services__item--small services__item--5">
                            <p class="services__item-title">Cool psd design</p>
                            <p class="services__item-text">Our most popular service is our new virtual Receptionist you middle most</p><button class="services__button" type="button" data-button="5"><span class="services__button-text">Know more</span><svg class="icon services__button-icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                                </svg></button>
                            <div class="service-details" data-details="5">
                                <div class="service-details__box">
                                    <p class="service-details__title">Cool psd design</p>
                                    <p class="service-details__text">Our most popular service is our new virtual Receptionist you middle most</p><button class="service-details__button" type="button"><svg class="icon service-details__icon">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#cross"></use>
                                        </svg></button>
                                </div>
                            </div><!-- END .services-details-->
                        </li>
                        <li class="services__item services__item--6">
                            <p class="services__item-title">Designing is the cool for</p>
                            <p class="services__item-text">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most</p><button class="services__button" type="button" data-button="6"><span class="services__button-text">Know more</span><svg class="icon services__button-icon">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#arrow"></use>
                                </svg></button>
                            <div class="service-details" data-details="6">
                                <div class="service-details__box">
                                    <p class="service-details__title">Designing is the cool for</p>
                                    <p class="service-details__text">Our most popular service is our Virtual Receptionist. We know that sometimes it’s something and you middle most</p><button class="service-details__button" type="button"><svg class="icon service-details__icon">
                                            <use xlink:href="images/svg-sprite/svg-sprite.svg#cross"></use>
                                        </svg></button>
                                </div>
                            </div><!-- END .services-details-->
                        </li>
                    </ul>
                </div>
            </section><!-- END .services-->
        </main>
    </div>
    <script src="scripts/script.js"></script>
</body>

</html>
