<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopno</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700|Raleway&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/index.min.css" />
</head>

<body class="page">
    <div class="page__container">
        <header class="header">
            <div class="box">
                <nav class="nav">
                    <div class="nav__actions">
                        <div class="logo"><a class="logo__link" href="#5">Sh<span class="logo__link--mark">o</span>pno</a></div><!-- END .logo-->
                        <div class="button-menu"><button class="button-menu__button" type="button"><span class="button-menu__line"></span></button></div><!-- END .button-menu-->
                    </div>
                    <div class="nav__menu">
                        <ul class="nav__list">
                            <li class="nav__item"><a class="nav__link" href="#5">About us</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">Featured works</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">Our services</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">Small team</a></li>
                            <li class="nav__item"><a class="nav__link" href="#5">What they says</a></li>
                        </ul>
                    </div>
                </nav><!-- END .nav-->
            </div>
        </header><!-- END .header-->
        <main class="main">
            <div class="hero">
                <div class="box hero__box">
                    <h1 class="hero__title">Say hello to <span class="hero__title--mark">shopno!</span><br><span class="hero__title--mark">Agency</span> corporate shopno theme</h1><button class="button hero__button">
                        <span class="button__text">Contact us</span>
                    </button>
                    <!-- END .button-->
                </div>
            </div><!-- END .hero-->
            <section class="about-us">
                <div class="box">
                    <h2 class="title about-us__title">About us</h2>
                    <p class="text about-us__text">Lorem ipsum dolor sit amet event landing template</p>
                    <div class="advantages">
                        <div class="advantage-images">
                            <ul class="advantage-images__list">
                                <li class="image-box advantage-images__item"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                                <li class="image-box advantage-images__item"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                                <li class="image-box advantage-images__item"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                                <li class="image-box advantage-images__item"><img class="image-box__image" src="images/advantages/advantage-1.jpg" srcset="images/advantages/advantage-1@2x.jpg 2x" alt="advantage-1" /></li>
                            </ul>
                        </div>
                        <div class="advantages__text-box">
                            <p class="advntages__title">We atually do amazing works</p>
                            <p class="advntages__text">A visual approach is an approach to a runway at an airport conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.</p>
                            <p class="advntages__text">Preceding aircraft in approach correct sight. conducted under instrument flight rules.</p>
                            <p class="advantages__title">Why we are the great?</p>
                            <p class="advnatges__text">A visual approach is an approach to a runway at an airport conducted under instrument flight rules. <br> The preceding aircraft in approach correct sight.</p>
                        </div>
                    </div>
                </div>
            </section><!-- END .about-us-->
        </main>
    </div>
    <script src="scripts/script.js"></script>
</body>

</html>
