mixin controls()
    div(class="controls")
        ul(class="controls__list")
            li(class="controls__item")
                button(class="controls__button is-active" type="button" data-button="1")
            li(class="controls__item")
                button(class="controls__button" type="button" data-button="2")
            li(class="controls__item")
                button(class="controls__button" type="button" data-button="3")
            li(class="controls__item")
                button(class="controls__button" type="button" data-button="4")

    // END .controls
