.button {
    font-size: 20px;
    font-weight: 300;
    line-height: calc(26 / 20);
    color: #f2f2f2;
    display: block;
    box-sizing: border-box;
    background: var(--main-color);
    border: 2px solid transparent;
    border-radius: 7px;
    transition-property: color, background, border;
    transition-duration: 0.25s;
    transition-timing-function: ease;

    &:hover {
        color: var(--main-color);
        background: transparent;
        border: 2px solid var(--main-color);
    }

    &:active {
        opacity: 0.8;
    }

    &--transparent {
        font-size: 24px;
        line-height: calc(26 / 24);
        color: var(--main-color);
        background: transparent;
        border: 2px solid var(--main-color);

        &:hover {
            color: var(--white);
            background: var(--main-color);
            border: 2px solid transparent;
        }
    }

    &--size-l {
        padding: 14px 27px
    }

    &--size-m {
        padding: 7px 29px;
    }

    &--size-s {
        padding: 10px 11px
    }
}
