@import "../advantages/advantages.css";

.about-us {
    background: #f8fafa;
    padding-top: 121px;

    &__title {
        padding-left: 23px;
        margin-bottom: 4px;
    }

    &__text {
        margin-bottom: 140px;
    }
   
}
