mixin about-us()
    section(class="about-us")
        div(class="box")
            h2(class="title about-us__title") About us
            p(class="text about-us__text") Lorem ipsum dolor sit amet event landing template

            include ../../_blocks/advantages/advantages.pug
            +advantages()
    
    // END .about-us
